<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div th:if="${param.error}">
    Invalid username and password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>
<form th:action="@{/api/reg}" method="post">
    <div><label> User Name: <input type="text" name="name"/> </label></div>
    <br>
    <div><label> Email: <input type="text" name="email"/> </label></div>
    <br>
    <div><label> Password: <input type="password" name="password"/> </label></div>
    <br>
    <div><input type="submit" value="Join"/></div>
</form>
<br>
<form th:action="@{/api/login}" method="get">
    <input type="submit" value="Login page"/>
</form>
</body>
</html>